[submodule "terminal/base16-termite"]
	path = terminal/base16-termite
	url = https://github.com/khamer/base16-termite.git
[submodule "terminal/base16-alacritty"]
	path = terminal/base16-alacritty
	url = https://github.com/aaron-williamson/base16-alacritty.git
[submodule "vendor/esh"]
	path = vendor/esh
	url = https://github.com/jirutka/esh.git
[submodule "terminal/base16-foot"]
	path = terminal/base16-foot
	url = https://gitlab.com/ArenM/base16-foot
