@import "{{ grains.homedir }}/.config/waybar/base16-waybar/colors/base16-{{theme}}.css";

* {
  border: none;
  font-family: "VictorMono Nerd Font", sans-serif;
  font-size: 12.5pt;
  font-weight: 600;
  min-height: 0;
  transition: none;
}

window#waybar {
  background-color: @base00;
  color: @base05;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty {
  background-color: transparent;
}

window#waybar > box {
  padding: 3px;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-cpu,
#custom-media,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#workspaces button {
  padding: 3px 10px;
  margin: 0 0.2em;
  color: #ffffff;
  border-radius: 6px;
  /* TODO: Cool effect, but cliped wierdly, perhaps it's a gtk bug, try again later */
  /* box-shadow: -3px 3px 5px; */
}

#workspaces label {
  padding: 0;
  margin: 0;
}

#workspaces button {
  padding: 3px 8px;
  border-radius: 0;
  margin: 0 0;
  background-color: @base02;
  color: @base05;
}

#workspaces button:first-child {
  border-radius: 6px 0px 0px 6px;
  margin-left: 0;
}

#workspaces button:last-child {
  border-radius: 0px 6px 6px 0px;
  margin-right: 20px;
}

#workspaces button:only-child {
  border-radius: 6px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  color: @base09;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.activated {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  color: @base0E;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
}

#clock {
  background-color: #64727d;
}

#disk {
  background-color: #64727d;
}

#battery {
  background-color: #ffffff;
  color: #000000;
}

#battery.charging {
  color: #ffffff;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: #2ecc71;
  color: #000000;
}

#custom-cpu {
  background-color: #2ecc71;
  color: #000000;
}

#memory {
  background-color: #9b59b6;
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  background-color: #f1c40f;
  color: #000000;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  background-color: #2980b9;
  margin-right: 0;
}

#idle_inhibitor {
  background-color: #2d3436;
  /* Hack to work around font spacing issue */
  padding-right: 15px;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}
